* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  body{
    width: 100dvw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1210e2;
    justify-content: space-evenly;
    padding: 100px;
  }
  
  .card{
    width: 280px;
    height: 400px;
    border: 2px solid #1c1210e2;
    box-shadow: 1px 1px 100px 1px;
    border-radius: 13px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: start;
    gap: 10px;
    background-color:#1c1210;
  }

  .card > img{
    width: 300px;
    height: 200px;
    box-shadow: 1px 1px 100px 20px;

  }

  .card > .time{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(183, 28, 28) ;
    padding-left: 10px;
  }

  .card > .time2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(198, 85, 21) ;
    padding-left: 10px;
  }

  .card > .time3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(90, 152, 19) ;
    padding-left: 10px;
  }

  .card > .name{
    font-size: 30px;
    padding-left: 10px;
    color: white;
  }

  p{
    padding: 10px;
    color: gray;
    font-size: x-small;
  }

  .card:hover{
    transform: rotateY(30deg);
    transition: 1s;
  }

  /* @keyframes {
    0%{
      transform: translateY(0deg);
      border: 5px solid rgb(183, 28, 28);
    }
    100%{
      transform: translateY(30deg);
    }
  } */